---
layout: home
isHome: true
options: "sectionOptions"
---
<div class="section" data-scroll-trigger="{{ page.options }}">
  {% capture intro %}
  {% include_relative _home/1-intro.markdown %}
  {% endcapture %}
  {% include home_section.html title="Intro" content=intro %}
</div>

<div class="section" data-scroll-trigger="{{ page.options }}">
  {% capture centuries %}
  {% include_relative _home/2-centuries.markdown %}
  {% endcapture %}
  {% include home_section.html title="A few centuries ago" content=centuries action=page.options %}
</div>

<div class="section" data-scroll-trigger="{{ page.options }}">
  {% capture later %}
  {% include_relative _home/3-later.markdown %}
  {% endcapture %}
  {% include home_section.html title="Some time later" content=later action=page.options %}
</div>

<div class="section" data-scroll-trigger="{{ page.options }}">
  {% capture beyond %}
  {% include_relative _home/4-beyond.markdown %}
  {% endcapture %}
  {% include home_section.html title="Beyond the Frontend of Web" content=beyond action=page.options %}
</div>

<div class="section" data-scroll-trigger="{{ page.options }}">
  {% capture beyond %}
  {% include_relative _home/4-beyond.markdown %}
  {% endcapture %}
  {% include home_section.html title="Finish" content=beyond action=page.options %}
</div>

<div class="bg-line">
  <svg class="bg-line__svg" viewBox="0 0 100 250" width="100%" height="100%" preserveAspectRatio="none" >
    <title>Background Line</title>
    <line class="bg-line__straight" x1="87.5" y1="0" x2="87.5" y2="250"/>
    <polyline class="bg-line__line" points="87.5,0 87.5,50 95,60 95,90 87.5,100 80,90 80,110 80,140 95,160 95,190 87.5,200 
		87.5,250"/>
  </svg>
  <a class="bg-line__point bg-line__point--0"></a>
  <a class="bg-line__point bg-line__point--1"></a>
  <a class="bg-line__point bg-line__point--2"></a>
  <a class="bg-line__point bg-line__point--3"></a>
  <a class="bg-line__point bg-line__point--4"></a>
  <a class="bg-line__point bg-line__point--5"></a>
</div>

<div class="content-slider">
  <button class="content-slider__button-close button button--close">
    <span class="button__icon">X</span>
    <span class="button__text button__text--hidden">Close</span>
  </button>
  <div class="content-slider__container">
    <div class="content-slider__content">
      
    </div>
  </div>
</div>
