@charset "utf-8";

@import "./_sass/mixins";

$font-family: 'Quicksand', Helvetica, 'Helvetica Neue', Arial, sans-serif;
$font-header: '';
$font-code: monaco, Consolas, "Lucida Console", monospace;
$media-min: 800px;

// Font Sizes
$font-fixed-base: 16px;
$font-fixed-max: 30px;
$font-base: strip-unit($font-fixed-base / $media-min) * 100vw;
$font-small: 0.875rem;
$font-x-small: 0.75rem;
$font-xx-small: 0.6666rem;

$line-height-base: 1.4;
$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-bold: 700;

// Needs to be calculated after base font
$media-max: $font-fixed-max * (1 /strip-unit($font-base/100));

$space: 1.5rem;
$space-sm: ($space / 2);
$space-x-sm: ($space / 3);
$space-xx-sm: ($space / 6);

$content-max: 35rem;

// colors
$text-color: #fff;

$grey-lighter: #f5f1f1;
$grey-color: #403d3c;
$grey-light: lighten($grey-color, 50%);
$grey-dark: #1c1919;

$primary: #5aacff;
$primary-hue-1: #94c1ff;
$primary-hue-2: #2e71ea; // Dark
$secondary: #c1e829;
$secondary-hue-1: #d3ec70;
$secondary-hue-2: #576812;
$tertiary: #ff6958;
$tertiary-hue-1: #cc5446;
$tertiary-hue-2: #d14642; // dark

$bg: $grey-color;
$bg-2: darken($bg, 8);
$bg-gradient: generate-gradient($bg, $bg-2);

// Width of the content area
$content-width: 1200px;

$ease: (
  in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530),
  in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190),
  in-quart: cubic-bezier(0.895, 0.030, 0.685, 0.220),
  in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060),
  in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715),
  in-expo: cubic-bezier(0.950, 0.050, 0.795, 0.035),
  in-circ: cubic-bezier(0.600, 0.040, 0.980, 0.335),
  in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045),
  out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940),
  out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000),
  out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000),
  out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000),
  out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000),
  out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000),
  out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000),
  out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275),
  in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955),
  in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000),
  in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000),
  in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000),
  in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950),
  in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000),
  in-out-circ: cubic-bezier(0.785, 0.135, 0.150, 0.860),
  in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550)
);

:root {
  --bg: #{$bg};
  --bg-2: #{$bg-2};
  --bg-gradient: #{$bg-gradient};
  --text: #{$text-color};
  --primary: #{$primary};
  --primary-hue-1: #{$primary-hue-1};
  --primary-hue-2: #{$primary-hue-2};
  --secondary: #{$secondary};
  --secondary-hue-1: #{$secondary-hue-1};
  --secondary-hue-2: #{$secondary-hue-2};
  --tertiary: #{$tertiary};
  --tertiary-hue-1: #{$tertiary-hue-1};
  --tertiary-hue-2: #{$tertiary-hue-2};
}
.section-1 {
  --primary: #{$secondary};
  --primary-hue-1: #{$secondary-hue-1};
  --primary-hue-2: #{$secondary-hue-2};
  --secondary: #{$primary};
  --secondary-hue-1: #{$primary-hue-1};
  --secondary-hue-2: #{$primary-hue-2};
  --tertiary: #{$tertiary};
  --tertiary-hue-1: #{$tertiary-hue-1};
  --tertiary-hue-2: #{$tertiary-hue-2};
}
.section-2 {
  --primary: #{$tertiary};
  --primary-hue-1: #{$tertiary-hue-1};
  --primary-hue-2: #{$tertiary-hue-2};
  --secondary: #{$secondary};
  --secondary-hue-1: #{$secondary-hue-1};
  --secondary-hue-2: #{$secondary-hue-2};
  --tertiary: #{$primary};
  --tertiary-hue-1: #{$primary-hue-1};
  --tertiary-hue-2: #{$primary-hue-2};
}
.section-3 {
  --primary: #{$primary};
  --primary-hue-1: #{$primary-hue-1};
  --primary-hue-2: #{$primary-hue-2};
  --secondary: #{$tertiary};
  --secondary-hue-1: #{$tertiary-hue-1};
  --secondary-hue-2: #{$tertiary-hue-2};
  --tertiary: #{$secondary};
  --tertiary-hue-1: #{$secondary-hue-1};
  --tertiary-hue-2: #{$secondary-hue-2};
}
.section-4 {
  --primary: #{$tertiary};
  --primary-hue-1: #{$tertiary-hue-1};
  --primary-hue-2: #{$tertiary-hue-2};
  --secondary: #{$primary};
  --secondary-hue-1: #{$primary-hue-1};
  --secondary-hue-2: #{$primary-hue-2};
  --tertiary: #{$secondary};
  --tertiary-hue-1: #{$secondary-hue-1};
  --tertiary-hue-2: #{$secondary-hue-2};
}
.high-contrast--dark {
  --bg: #{darken($bg, 16)};
  --bg-2: #{darken($bg-2, 16)};
  --text: #{$text-color};
  --primary: #{$primary};
  --primary-hue-1: #{$primary-hue-1};
  --primary-hue-2: #{$primary-hue-2};
  --secondary: #{$secondary};
  --secondary-hue-1: #{$secondary-hue-1};
  --secondary-hue-2: #{$secondary-hue-2};
  --tertiary: #{$tertiary};
  --tertiary-hue-1: #{$tertiary-hue-1};
  --tertiary-hue-2: #{$tertiary-hue-2};
}
.high-contrast--light {
  --bg: #fff;
  --bg-2: #{darken(#fff, 4)};
  --text: #{$bg};
  --primary: #2e71ea;
  --primary-hue-1: #{$tertiary-hue-1};
  --primary-hue-2: #{$tertiary-hue-2};
  --secondary: #ce4946;
  --secondary-hue-1: #{$primary-hue-1};
  --secondary-hue-2: #{$primary-hue-2};
  --tertiary: #{$secondary};
  --tertiary-hue-1: #{$secondary-hue-1};
  --tertiary-hue-2: #{$secondary-hue-2};
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "./_sass/bg-pattern",
  "./_sass/base",
  "./_sass/layout",
  "./_sass/home",
  "./_sass/experience",
  "./_sass/syntax-highlighting";
