<figure class="codepen-figure">
  <p data-height="350" data-theme-id="30524" data-slug-hash="{{ include.slug }}"
    data-default-tab="result" data-user="ajbermudez" data-embed-version="2"
    data-pen-title="{{ include.name }}" class="codepen">
    See the Pen <a href="https://codepen.io/ajbermudez/pen/{{ include.slug }}/">
      Portfolio Process - Part 1
    </a> by Alfredo Bermudez (<a href="https://codepen.io/ajbermudez">@ajbermudez</a>)
    on <a href="https://codepen.io">CodePen</a>.
  </p>
</figure>
