<header class="header">
	<a class="header__title" href="{{ site.baseurl | prepend: site.url }}/">
		<h1 class="title">
			<span class="title__main">{{ site.title }}</span>
			<span class="title__subtitle font--smaller">{{ site.sub-title }}</span>
		</h1>
	</a>

	<nav class="header__nav">
		{% if page.isHome != true %}
		<a href="{{ site.baseurl | prepend: site.url }}" title="Home">a lot about me</a>
		{% endif %}
		<a href="{{ "/blog.html" | prepend: site.baseurl | prepend: site.url }}" title="Blog">musings</a>
	</nav>
</header>
