<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	
	{% seo %}

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	{% assign root = site.baseurl | prepend: site.url | append: "/bundles" %}
	{% assign version = "?v=" | append: site.version %}

	{% assign maincss = "/main.css" | prepend: root | append: version %}
	{% assign common = "/common.js" | prepend: root | append: version %}
	{% assign home = "/home.js" | prepend: root | append: version %}
	{% assign exp = "/exp.js" | prepend: root | append: version %}
	{% assign posts = "/posts.js" | prepend: root | append: version %}
	
	{% if site.isDev != true %}
		{% assign maincss = "/main.min.css" | prepend: root | append: version %}
		{% assign common = "/common.min.js" | prepend: root | append: version %}
		{% assign home = "/home.min.js" | prepend: root | append: version %}
		{% assign exp = "/exp.min.js" | prepend: root | append: version %}
		{% assign posts = "/posts.min.js" | prepend: root | append: version %}
	{% endif %}
	
	<link rel="stylesheet" href="{{ maincss }}">

	<script src="{{ common }}"></script>

	{% if page.isHome %}
		<script src="{{ home }}"></script>
	{% endif %}
	{% if page.isExp %}
		<script src="{{ exp }}"></script>
	{% endif %}
	{% if layout.isPost %}
		<script src="{{ posts }}"></script>
	{% endif %}
</head>
