<header class="header">
	<a class="header__title" href="{{ site.baseurl | prepend: site.url }}/">
		<h1 class="title">
			<span class="title__main">{{ site.display-title }}</span>
			<span class="title__subtitle font--smaller">{{ site.display-sub-title }}</span>
		</h1>
	</a>

	<nav class="header__nav">
	{% for link in site.menuitems %}
		<a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}"
			{% if link.url == page.url %}
			class="active"
			{% endif %}
			title="{{ link.title }}">
			{{ link.name }}
		</a>
	{% endfor %}
	</nav>
</header>
