<li>
	<a class="link link--with-icon" href="https://www.linkedin.com/in/alfredo-berm%C3%BAdez-61654516/" title="Alfredo's LinkedIn">
		<svg class="icon link__icon" aria-hidden="true">
			<use xlink:href="#icon--linkedin" />
		</svg>
		LinkedIn
	</a>
</li>
<li>
	<a class="link link--with-icon" href="https://www.github.com/alfredo-xyz" title="Alfredo's GitHub">
		<svg class="icon link__icon" aria-hidden="true">
			<use xlink:href="#icon--github" />
		</svg>
		GitHub
	</a>
</li>
<li>
	<a class="link link--with-icon" href="mailto:{{ site.email }}" title="Alfredo's Email">
		<svg class="icon link__icon" aria-hidden="true">
			<use xlink:href="#icon--email" />
		</svg>
		Email
	</a>
</li>
<li>
	<a class="link link--with-icon" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
		<svg class="icon link__icon" aria-hidden="true">
			<use xlink:href="#icon--rss" />
		</svg>
		RSS
	</a>
</li>