//----------------------- Home Page
.home {
  position: relative;
}
$prop: scaleX;

@include clipAnimation(0, 1, 'expand', 'collapse', 100, $prop);
@keyframes addBorderRadius {
  0% {
    border-radius: 0%;
  }
  40% {
    border-radius: 50%;
  }
  100% {
    border-radius: 50%;
  }
}
@keyframes removeBorderRadius {
  0% {
    border-radius: 50%;
  }
  60% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0%;
  }
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  z-index: 1;
  
  &__title {
    display: block;
    padding: $spacing-unit-sm;
    @include media-query($tablet) {
      padding: $spacing-unit;
    };
  }
}

%default-animation {
  $duration: .5s;
  
  animation-duration: $duration;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.section-content {
  $origin: left center;
  
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(255,255,255,.8);
  margin-bottom: $spacing-unit-sm;

  transform-origin: $origin;
  transform: $prop + "(0)";
  will-change: transform;
  
  @include media-query($tablet){
    width: 75%;
    margin-bottom: $spacing-unit;
  }
  &.unfocused {
    animation-name: collapse;
    @extend %default-animation;
    transform: $prop + "(0)";
  }
  &.focused {
    animation-name: expand;
    @extend %default-animation;
    transform: $prop + "(1)";
  }
  
  &__content {
    clear: both;
    padding: $spacing-unit-sm;

    transform-origin: $origin;
    transform: $prop + "(100)";
    &.unfocused {
      animation-name: collapseInverse;
      @extend %default-animation;
      transform: $prop + "(100)";
  }
    &.focused {
      animation-name: expandInverse;
      @extend %default-animation;
      transform: $prop + "(1)";
    }
    
    @include media-query($tablet) {
      padding: $spacing-unit;
    };
  }
}
.bg-line {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  &__svg {
    width: 100%;
    height: 100%;
  }
  &__straight {
    fill: none;
    stroke: $grey-color;
    stroke-miterlimit: 10;
  }
  &__line {
    fill: none;
    stroke: $brand-color;
    stroke-miterlimit: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}