$prop: scaleX;
$sec-width: 75%;
$slide-width: 15%; // 15% ~ 7.5rem 
//----------------------- Home Page
.home {
  position: relative;
}

@include clipAnimation(0, 1, 'expand', 'collapse', 100, $prop);

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: $sec-width;
  min-height: 50vh;
  z-index: 1;
  padding: $spacing-unit * 3 0;
  border-bottom: $double-border;

  transition: opacity .8s ease(out-quad);
  opacity: 0;
  &.focused {
    opacity: 1;
  }
  
  &__title {
    z-index: 1;
    width: 100%;
    max-width: $content-max;
    float: right;
    padding: ($spacing-unit / 2) $spacing-unit;

    text-align: left;
    color: #fff;
  }
  &.open {
    .section-content {
      animation-name: collapse;
      @extend %default-animation;
      transform: $prop + "(0)";
    }

    .section-content__content {
      animation-name: collapseInverse;
      @extend %default-animation;
      transform: $prop + "(0)";
    }
  }
  &.close {
    .section-content {
      animation-name: expand;
      @extend %default-animation;
      transform: $prop + "(1)";
    }

    .section-content__content {
      animation-name: expandInverse;
      @extend %default-animation;
      transform: $prop + "(1)";
    }
  }
}

%default-animation {
  $duration: 1s;
  
  animation-duration: $duration;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.section-container {
  overflow: hidden;
  position: relative;

}
.section-content {
  $origin: left center;
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 100%;
  overflow: hidden;
  
  background: $grey-color;
  color: #fff;

  transform-origin: $origin;
  // will-change: transform;
  z-index: 10;
  
  &__content {
    clear: both;
    padding: $spacing-unit;
    float: right;
    max-width: $content-max;
    transform-origin: $origin;
  }
  
}
.section-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  //grid-gap: 5px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  //background: $grey-color-lighter;
  padding: $spacing-unit;
  overflow: auto;
  &__item {
    overflow: hidden;
    &:nth-child(3n + 1) {
      grid-column: span 1;
    }
    &:nth-child(3n + 2) {
      grid-column: span 2;
    }
    &:nth-child(3n) {
      grid-column: span 3;
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1.25);
    opacity: 0.6666;
    transition: 
      opacity 0.2s ease(out-cubic),
      transform 0.2s ease(out-cubic);
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    &:hover {
      transform: scale(1);
      opacity: 1;
    }
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

.section-button {
  position: absolute;
  top: 50%;
  right: -12.3vw;
  transform: translateX(50%);
  z-index: 20;
  padding: 0.2rem 0.6rem;
  border: 0;
  background: $grey-color-dark;
  color: #fff;
  font-size: 1.15rem;
  text-transform: uppercase;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
    
  }
}
@keyframes lineGrow {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.bg-line {
  $height: 250;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  &__svg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &__straight {
    fill: none;
    stroke: $grey-color-dark;
    stroke-miterlimit: 10;
    transform: scaleY(1);
    animation: 3s ease(in-cubic) 0s lineGrow;
    animation-iteration-count: 1;
  }
  &__path {
    $length: 285; // pre calculated unsing  path.getTotalLength() in chrome
    fill: none;
    stroke: $primary;
    stroke-miterlimit: 1;
    stroke-dasharray: $length;
    stroke-dashoffset: $length;
  }
  &__point {
    $offset: 12.5%;
    $offset-plus: 5%;
    $offset-minus: 20%;
    $steps: 5;
    $eHeight: $height / $steps;
    $s: 2vw;
    $min: $base-font-size-fixed;
    
    display: block;
    position: absolute;
    right: $offset;
    width: $s;
    min-width: $min;
    height: $s;
    min-height: $min;
    z-index: 1;
    
    background: $secondary;
    border: 0;
    border-radius: 50%;
    
    transform: translate(50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 
      opacity .5s ease(out-cubic), 
      visibility .5s ease(out-cubic);
    
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: 0.15rem solid $secondary-light;
      border-radius: 50%;
      opacity: 0;
      transform: scale(0);
    }
    
    &:focus {
      outline: 0px;
      &:after {
        border-color: $secondary;
      }
    }
    &--active {
      opacity: 1;
      visibility: visible;
      &:after {
        animation-name: pulsate;
        animation-timing-function: ease(out-cubic);
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }
    &--0 {
      top: 0;
    }
    &--1 {
      $step: 1;
      top: (($step * $eHeight) / $height * 100) * 1%;
      right: $offset-plus;
    }
    &--2 {
      $step: 2;
      top: (($step * $eHeight) / $height * 100) * 1%;
    }
    &--3 {
      $step: 3;
      top: (($step * $eHeight) / $height * 100) * 1%;
      right: $offset-plus;
    }
    &--4 {
      $step: 4;
      top: (($step * $eHeight) / $height * 100) * 1%;
    }
    &--5 {
      $step: 5;
      top: (($step * $eHeight) / $height * 100) * 1%;
    }
  }
}