%container {
  overflow: hidden;
  width: 75%;
}
%content {
  display: block;
  clear: both;
  float: right;
  width: 100%;
  max-width: $content-max;
  padding: $spacing-unit;
}

//----------------------- Site header
.header {
  @extend %container;
  border-bottom: $double-border;
  &__title {
    @extend %content;
    color: $primary;
    
    &:visited {
      color: $primary;
    }
  }
  &__nav {

  }
}

//----------------------------- Page content
.content {
  @extend %container;
  position: relative;
}

.page-heading {
    margin-bottom: $spacing-unit;
}

// Blog
.posts {
  @extend %content;
}
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
}


//----------------------- Posts
.post {
  @extend %content;
}
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {

}

.post-content {
  margin-bottom: $spacing-unit;
  &:last-child {
    margin-bottom: 0;
  }
}

//---------------------- Footer
.footer {
  @extend %container;
}
.footer-content {
  @extend %content;
}