%container {
  overflow: hidden;
  width: 100%;
  @include media-query($media-min) {
    width: 75%;
  }
}
%content {
  display: block;
  clear: both;
  width: 100%;
  padding: $spacing-unit;

  @include media-query($media-min) {
    float: right;
    max-width: $content-max;
  }
}

//----------------------------- Site header
.header {
  width: 100%;
  overflow: hidden;
  @include media-query($media-min) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title {
    display: block;
    overflow: hidden;
    border-bottom: $default-border;
    @include cssVar(border-color, --primary, $primary);

    @include media-query($media-min) {
      flex: 0 0 auto;
      width: 75%;
    }
  }
  &__nav {
    padding: $spacing-unit $spacing-unit-sm;
    text-align: center;
    @include media-query($media-min) {
      text-align: right;
    }
    a {
      font-weight: 700;
      display: inline-block;
      margin-right: $spacing-unit-sm;

      &.active {
        @include cssVar(color, --tertiary, $tertiary);
      } 
      &:last-child {
        margin-right: 0;
      }
      @include media-query($media-min) {
        display: block;
        margin-right: 0;
        margin-bottom: $spacing-unit / 4;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

//----------------------------- Title
.title {
  @extend %content;
  &__main {
    &:after {
      content: ":";
    }
  }
  &__subtitle {
    display: block;
    // @include cssVar(color, --secondary, $secondary);
  }
}

//----------------------------- Content
.content {
  flex: 1 0 auto;
  @extend %container;
  position: relative;
  border-bottom: $default-border;
  @include cssVar(border-color, --primary, $primary);
}

//----------------------------- Blog
.posts {
  @include cssVar(background-color, --bg, $background-color);
  @extend %content;

  &__heading {
    @include cssVar(color, --secondary, $secondary);
    margin-bottom: $spacing-unit;
  }
  &__list {
    margin-left: 0;
    list-style: none;

    > li {
      margin-bottom: $spacing-unit;
    }
  }
  &__meta {
    font-size: $small-font-size;
  }
  &__link {
    display: block;
  }
}

//----------------------------- Posts & Pages
.post, .page {
  @include cssVar(background-color, --bg, $background-color);
  @extend %content;

  &__header {
    margin-bottom: $spacing-unit-sm;
  }
  &__title {
    @include cssVar(color, --secondary, $secondary);
  }
  &__content {

  }
}

//----------------------------- Social Aside
.social-aside {
  text-align: center;
  @include media-query($media-min) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 15;
    text-align: left;
  }
  &__list {
    margin: 0;
    list-style: none;
    > li {
      display: inline-block;
      margin-right: $spacing-unit-sm;
      &:last-child {
        margin-right: 0;
      }
    }
    @include media-query($media-min) {
      > li {
        display: block;
        margin-right: 0;
      }
      > li > a {
        transition: 
          background 0.2s ease(out-cubic),
          transform 0.3s ease(out-cubic);

        transform: translate(75%, 0);
        transform: translate(calc(100% - 1.5em - 1rem), 0);
        padding: 0.25rem 0.75rem;

        &:hover, &:focus {
          @include cssVar(background, --bg, $background-color);
          transform: translate(0, 0);
        }

        .icon {
          height: 1.5em;
          width: 1.5em;
        }
      }
    }
  }
}

//----------------------------- Footer
.footer {
  @extend %container;

  &__content {
    @extend %content;
  }
  &__social-list {
    list-style: none;
    padding: 0;
    margin-left: 0;

    li {
      display: inline-block;
      margin-right: $spacing-unit-sm;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}