%container {
  width: 100%;
  display: block;
  padding: $space;
  border-width: 0 0 1px 0;
  border-style: solid;
  @include cssVar(border-color, --primary, $primary);

  @include media-query($media-min) {
    width: 75%;
    max-width: $content-max;
    margin-right: 25%;
  }
}

//----------------------------- Site header
.header {
  width: 100%;
  @include media-query($media-min) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__title {
    @extend %container;
    @include media-query($media-min) {
      margin-right: 0;
    }
  }
  //----------------------------- Title
  .title {
    font-weight: $font-weight-light;
    &__main {
      &:after {
        content: ":";
      }
    }
    &__subtitle {
      display: block;
      // @include cssVar(color, --secondary, $secondary);
    }
  }
  &__nav {
    padding: $space $space-sm;
    text-align: center;
    @include media-query($media-min) {
      flex: 0 0 auto;
      width: 25%;
      text-align: right;
    }
    a {
      font-weight: 700;
      display: inline-block;
      margin-right: $space-sm;

      &.active {
        @include cssVar(color, --tertiary, $tertiary);
      }
      &:last-child {
        margin-right: 0;
      }
      @include media-query($media-min) {
        display: block;
        margin-right: 0;
        margin-bottom: $space / 4;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

//----------------------------- Blog
.posts {
  @include cssVar(background-color, --bg, $bg);
  @extend %container;

  &__heading {
    @include cssVar(color, --secondary, $secondary);
    margin-bottom: $space;
  }
  &__list {
    margin-left: 0;
    list-style: none;

    > li {
      margin-bottom: $space;
    }
  }
  &__meta {
    font-size: $font-small;
  }
  &__link {
    display: block;
  }
}

//----------------------------- Posts & Pages
.post, .page {
  position: relative;
  @include cssVar(background-color, --bg, $bg);
  @extend %container;

  &__header {
    margin-bottom: $space-sm;
  }
  &__title {
    @include cssVar(color, --secondary, $secondary);
  }
  &__sub-title {
    font-size: 1.5rem;

  }
  &__content {

  }
  figure {
    margin-left: -$space;
    margin-right: -$space;
  }
}

//----------------------------- Figures
.image-figure {
  border-style: solid;
  border-width: 1px 0;
  @include cssVar(border-color, --tertiary, $tertiary);
  @include cssVar(background-color, --bg-2, $bg-2);
  > figcaption {
    text-align: center;
    margin: $space-sm $space;
  }
  > img {
    @include cssVar(background-color, --text, $text-color);
  }
}
.codepen-figure {
  $h: 350px;
  min-height: $h;
  @include cssVar(background-color, --bg-2, $bg-2);

  .cp_embed_wrapper {
    height: $h;
  }
  > p {
    padding: $space;
  }
}

//----------------------------- General titles and sub-titles
// warning header title has this class
.title {
  &--with-multipart {
    margin-bottom: .2rem;
  }
}
.sub-title {
  &__multipart {
    font-weight: 700;
    font-size: 0.5rem;
  }
}

//----------------------------- Multipart
.extra {
  font-size: $font-x-small;
  padding: 0 $space-sm;
  //@include cssVar(background-color, --bg, $bg);

  @include media-query($media-min) {
    $w: 10.5rem;
    font-size: $font-xx-small;
    position: sticky;
    float: right;
    width: $w;
    margin: -5rem #{-$w - $space} 0 0;
    top: 0;
  };
}

//----------------------------- Multipart and Table of Contents
.multipart, .toc {
  padding-bottom: $space-x-sm;
  margin-bottom: $space-x-sm;
  border-style: solid;
  border-width: 0 0 1px 0;
  @include cssVar(border-color, --bg-2, $bg-2);

  &__title {
    margin-bottom: 0;
  }
  &__list {
    list-style: none;
    margin-left: 0;
  }
  &__item {
    position: relative;
    &--active {
      code {
        font-size: .5rem;
        position: absolute;
        top: .1rem;
        left: 0;
        margin-left: -$space-xx-sm;
        transform: translateX(-100%);
      }
    }
  }
}
.toc {
  display: none;
  @include media-query($media-min) {
    display: block;
  }
}

//----------------------------- Social Aside
.social-aside {
  text-align: center;
  margin-bottom: $space-sm;
  @include media-query($media-min) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 15;
    text-align: left;
    margin-bottom: 0;
  }
  &__list {
    margin: 0;
    list-style: none;
    > li {
      display: inline-block;
      margin-right: $space-sm;
      &:last-child {
        margin-right: 0;
      }
    }
    @include media-query($media-min) {
      > li {
        display: block;
        margin-right: 0;
      }
      > li > a {
        transition:
          background 0.2s ease(out-cubic),
          transform 0.3s ease(out-cubic);

        transform: translate(75%, 0);
        transform: translate(calc(100% - 1.5em - #{$space-x-sm + $space-xx-sm}), 0);
        padding: $space-xx-sm $space-x-sm;

        &:hover, &:focus {
          @include cssVar(background, --bg, $bg);
          transform: translate(0, 0);
        }

        .icon {
          height: 1.5em;
          width: 1.5em;
        }
      }
    }
  }
}

//----------------------------- Footer
.footer {
  //@extend %container;
  @extend %container;

  &__social-list {
    list-style: none;
    padding: 0;
    margin-left: 0;

    li {
      display: inline-block;
      margin-right: $space-sm;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
