@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content; 
  }
}

@mixin color-mix($c1, $c2, $t, $a: "color", $s: "", $o: 0, $repeat: 1) {
  $p: 100 / ($t - 1);
  $r: $repeat + 'n + ';

  @for $i from 1 through $t - $o {
    &:nth-child(#{$r + $i}) #{$s}{
      $f: $p * ($i - 1 + $o);
      $t: percentage($f/100);
      #{$a}: mix($c2, $c1, $t);
    }
  }
}

@mixin attr-iterator($attr, $size, $prefix: $attr) {
  $dirs: all, top, right, bottom, left;
  @each $dir in $dirs {
    $full-attr: '';
    @if $dir == all {
      $full-attr: $attr;
    }
    @else {
      $full-attr: #{$attr}-#{$dir};
    }
    .#{$prefix}--#{$dir} {
      #{$full-attr}: $size;
    }
  }
}

//---------------- Clip Animation
@function generateValues ($from, $to, $steps){
  $val1: $to / $steps;

  $list: $from, $val1;
  @for $i from 2 through $steps - 1 {
    $value: $val1 * $i;
    $list: append($list, $value);
  }
  $list: append($list, $to);
  @return $list;
}
@function generateInverseValues ($from, $to, $steps, $values){
  $list: $steps * 10;
  @each $val in $values {
    @if $val != 0 {
      $list: append($list, 1/$val);
    }
  }
  @return $list;
}
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}
@mixin clipAnimation($from: 0, $to: 1, $name: 'someting', $name2: 'anotherThing', $steps: 100, $prop: scale ) {
  $valuesList: generateValues($from, $to, $steps);
  $inverseValuesList: generateInverseValues($from, $to, $steps, $valuesList);
  
  $percentList: 0%;
  $percentListEaseOut: $percentList;
  @for $i from 1 through $steps {
    $t: $i / $steps;
    //quadratic easing in
    $v:  ($t * $t) * 100; 
    //quadratic easing out
    //$v:  (-1 * $t * ($t - 2)) * 100; 
        
    //$t: $i / ($steps / 2);
    //$v: 0;
//    @if $t < 1 {
//      $v: ((1 / 2) * $t * $t) * 100;
//    }
//    @else {
//      $t: $t - 1;
//      $v: ((-1 / 2) * ($t * ($t - 2) - 1)) * 100;
//    }
    
    $text: $v + '%';
    $percentListEaseOut: append($percentListEaseOut, $text);
  }
  
  @keyframes #{$name}{
    @for $i from 1 through $steps + 1 {
      $percent: nth($percentListEaseOut, $i);
      $value: nth($valuesList, $i);
      $text: $prop + "(" + $value + ")";
      #{$percent} { transform: #{$text}; }
    }
  }
  @keyframes #{$name}Inverse {
    @for $i from 1 through $steps + 1 {
      $percent: nth($percentListEaseOut, $i);
      $value: nth($inverseValuesList, $i);
      $text: $prop + "(" + $value + ")";
      #{$percent} { transform: #{$text}; }
    }
  }
  
  @keyframes #{$name2}{
    $i: $steps + 1;
    @while $i > 0 {
      $percent: nth($percentListEaseOut, ($steps + 2 - $i));
      $value: nth($valuesList, $i);
      $text: $prop + "(" + $value + ")";
      #{$percent} { transform: #{$text}; }
      $i: $i - 1;
    }
  }
  @keyframes #{$name2}Inverse {
    $i: $steps + 1;
    @while $i > 0 {
      $percent: nth($percentListEaseOut, ($steps + 2 - $i));
      $value: nth($inverseValuesList, $i);
      $text: $prop + "(" + $value + ")";
      #{$percent} { transform: #{$text}; }
      $i: $i - 1;
    }
  }
}



@function ease($key) {
  @if map-has-key($ease, $key) {
    @return map-get($ease, $key);
  }

  @warn "Unkown '#{$key}' in $ease.";
  @return null;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}