<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
      {% include header.html %}
      {% include icons.html %}
      {% include social-aside.html %}
      {% if page.summary %}
      <div class="summary">
        {{ page.summary | markdownify }}
      </div>
      {% endif %}
      {{ content }}
      {% include footer.html %}
      <div class="map"></div>
      {% if page.has-pen %}
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
      {% endif %}
    </body>
</html>
